/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.xmlForm * {
  margin: 10px;
}
.xmlForm div label {
  margin: 10px 10px 10px 0px;
}
#xmlTitel {
  margin: 10px;
}

#search-lib {
  margin-bottom: 15px;
}
#lib-title, .yt-search-wrapper{
  margin-left: 5%;
}
nav .container {
  margin-left: 2em;
  margin-right: 2em;
}
#audio-library li:hover  {
    background-color: lightgray;
    cursor: default;
}
#audio-library li.active  {
  background-color: lightgray;
}
tr.active {
  background-color: lightgray;
}
tr:hover{
  background-color: lightgray;
  cursor: default;
}
tr {
  font-size: smaller;
}
#audio-player {
  display: block;
  width: 100%;
}
#media-control {
  position: fixed;
  bottom: 0;
  width: 90%;
  /*margin-left: 5%;*/
}
.container {
  margin: 0;
  padding: 0;
  max-width: 100%;

}
#media-control button {
  background-color: #484848;
  color: #fff;
}
#media-control button:hover {
  background-color: #6b6b6b;
}
.al-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 5% 0 5%;
}
.scroll-pane {
  flex-grow: 1;
  overflow-y: auto;
}
#audio-library {
  height: 90vh
}

.shuffled {
  background-color: black;
}

#searchYt {
  width: 30%;
  margin-bottom: 1em;
  margin-right: 1em;
}
.spinner-grow {
  display: block;
  margin: 1em;
}
#ytResults {
  padding-left: 0%;
}
#ytResults li {
  /*display: flex;*/
  margin-bottom: 1em;
  list-style: none;
}
#ytResults li img {
  float: left;
}
#ytResults li p {
  margin-bottom: 0px;
  padding-left: 12%;
}
#ytResults li h5 {
  padding-left: 12%;
}
#ytResults li button {
  margin: 0px;
  padding: 0px 15px 0px 15px;
}
#ytResults li button i {
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#progressBar {
  margin-left: 1em;
  width: 25%;
  /*visibility: visible;*/
}