/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.xmlForm * {
  margin: 10px;
}
.xmlForm div label {
  margin: 10px 10px 10px 0px;
}
#xmlTitel {
  margin: 10px;
}

#search-lib {
  margin-bottom: 15px;
}
#audio-library li:hover  {
    background-color: lightgray;
    cursor: default;
}
#audio-library li.active  {
  background-color: lightgray;
}
tr.active {
  background-color: lightgray;
}
tr:hover{
  background-color: lightgray;
  cursor: default;
}
tr {
  font-size: smaller;
}
#audio-player {
  display: block;
  width: 100%;
}
#media-control button {
  background-color: #484848;
  color: #fff;
}
#media-control button:hover {
  background-color: #6b6b6b;
}
.al-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.scroll-pane {
  flex-grow: 1;
  overflow-y: auto;
}
#audio-library {
  height: 90vh
}
#media-control {
  position: fixed;
  bottom: 0;
  width: 87%;
}
.shuffled {
  background-color: black;
}

#searchYt {
  width: 30%;
  margin-bottom: 1em;
}
.spinner-grow {
  display: block;
  margin: 1em;
}
#ytResults {
  padding-left: 0%;
}
#ytResults li {
  display: flex;
  margin-bottom: 1em;
}
#ytResults li p {
  vertical-align: bottom;
  margin-left: 1em;
}